@media (min-width: 768px) {
/***********************************************
    Menú principal
***********************************************/   
.navbar-brand{
    margin-left: 0px;
}
/***********************************************
    Fin menú principal
***********************************************/
/***********************************************
    Novedad destacada
***********************************************/
.novedad-titulo{
    font-size: 48px;
}
/***********************************************
    Fin novedad destacada
***********************************************/
/***********************************************
    Servicios
***********************************************/
.servicios-servicio{
    min-height: 152px;
    padding-bottom: 30px;
}
/***********************************************
    Fin servicios
***********************************************/
/***********************************************
    Carreras destacadas
***********************************************/
.carreras-destacadas-carrera{
    margin-bottom: 0;
}
/***********************************************
    Fin carreras destacadas
***********************************************/
/***********************************************
    Ficha carrera
***********************************************/
.ficha-curso-sidebar-informacion-item{
    position: relative;
    padding-left: 48px;
    text-align: left;
    width: 33.3333333333%;
}
.ficha-curso-sidebar-informacion-item i{
    position: absolute;
    width: auto;
    display: inline-block;
    left: 20px;
    top: 3px;
    color: #666;
    font-size: 17px;
}
/***********************************************
    Fin ficha carrera
***********************************************/
}